workflows/agente_pessoal_mvp.json
{
  "name": "Agente Pessoal - Contas a Pagar",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger-001",
      "name": "Escutar Mensagens",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "telegram-webhook-personal-agent",
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "chat_id",
              "stringValue": "={{ $json.message.chat.id }}"
            },
            {
              "name": "message_id",
              "stringValue": "={{ $json.message.message_id }}"
            },
            {
              "name": "text",
              "stringValue": "={{ $json.message.text || '' }}"
            },
            {
              "name": "voice",
              "value": "={{ $json.message.voice }}"
            },
            {
              "name": "from_user",
              "stringValue": "={{ JSON.stringify($json.message.from) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-prepare-data",
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-voice",
              "leftValue": "={{ $json.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-is-audio",
      "name": "É Áudio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.voice && $json.voice.file_id ? $json.voice.file_id : $('Preparar Dados').first().json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "telegram-get-voice",
      "name": "Obter Arquivo de Voz",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "openai-speech-to-text",
      "name": "Voz para Texto",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential-id",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.text }}"
            },
            {
              "name": "transcription",
              "stringValue": "={{ $('Voz para Texto').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Preparar Dados').item.json.chat_id }}"
            },
            {
              "name": "from_user",
              "stringValue": "={{ $('Preparar Dados').item.json.from_user }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-merge-text",
      "name": "Mesclar Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO usuarios_telegram (telegram_id, nome_usuario, primeiro_nome, ultimo_nome, codigo_idioma, ultimo_acesso) VALUES ($1, $2, $3, $4, 'pt-BR', CURRENT_TIMESTAMP) ON CONFLICT (telegram_id) DO UPDATE SET ultimo_acesso = CURRENT_TIMESTAMP RETURNING id;",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "telegram_id",
                "value": "={{ JSON.parse($json.from_user).id }}"
              },
              {
                "name": "nome_usuario",
                "value": "={{ JSON.parse($json.from_user).username || null }}"
              },
              {
                "name": "primeiro_nome",
                "value": "={{ JSON.parse($json.from_user).first_name }}"
              },
              {
                "name": "ultimo_nome",
                "value": "={{ JSON.parse($json.from_user).last_name || null }}"
              }
            ]
          }
        },
        "options": {}
      },
      "id": "postgres-create-user",
      "name": "Criar ou Buscar Usuário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        900,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "PostgreSQL Personal Agent"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8001/mcp/detect",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text || $json.transcription || $('Preparar Dados').item.json.text }}\",\n  \"context\": {}\n}",
        "options": {}
      },
      "id": "http-mcp-detect",
      "name": "MCP: Detectar Intenção",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-insert",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "INSERT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "INSERT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-update",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "UPDATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "UPDATE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-delete",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "DELETE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-list",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "LIST",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "LIST"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-report",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "REPORT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "REPORT"
            }
          ]
        },
        "fallbackOutput": "OTHER",
        "options": {}
      },
      "id": "switch-router",
      "name": "Roteador de Ação",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8001/mcp/extract",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"text\": \"{{ $('Preparar Dados').item.json.text || $('Mesclar Texto').item.json.text || $('Mesclar Texto').item.json.transcription }}\",\n  \"action\": \"{{ $('MCP: Detectar Intenção').item.json.action }}\",\n  \"context\": {}\n}",
        "options": {}
      },
      "id": "http-mcp-extract",
      "name": "MCP: Extrair Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8001/mcp/validate",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"data\": {{ JSON.stringify($json.data) }},\n  \"action\": \"{{ $('MCP: Detectar Intenção').item.json.action }}\"\n}",
        "options": {}
      },
      "id": "http-mcp-validate",
      "name": "MCP: Validar Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-validate",
      "name": "Verificar Validação",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Preparar Dados').item.json.chat_id }}",
        "text": "=❌ **Erro de Validação**\n\n{{ $json.errors.join('\\n') }}\n\nPor favor, corrija os dados e tente novamente.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send-error",
      "name": "Enviar Erro de Validação",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2220,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8001/mcp/format-confirmation",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"action\": \"{{ $('MCP: Detectar Intenção').item.json.action }}\",\n  \"data\": {{ JSON.stringify($('MCP: Extrair Dados').item.json.data) }},\n  \"old_data\": null\n}",
        "options": {}
      },
      "id": "http-mcp-format",
      "name": "MCP: Formatar Confirmação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Preparar Dados').item.json.chat_id }}",
        "text": "={{ $json.message }}\n\n**Responda SIM para confirmar ou NÃO para cancelar.**",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send-confirmation",
      "name": "Enviar Confirmação",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2440,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resume": "wait",
        "limit": 1,
        "waitTime": 60
      },
      "id": "wait-confirmation",
      "name": "Aguardar Confirmação",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2660,
        200
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "chat_id": "={{ $('Preparar Dados').item.json.chat_id }}"
        }
      },
      "id": "telegram-wait-response",
      "name": "Aguardar Resposta",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        2880,
        200
      ],
      "webhookId": "telegram-wait-confirmation",
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resposta = $input.item.json.text.toLowerCase().trim();\nconst confirmacoes = ['sim', 's', 'confirmar', 'ok', 'yes', 'y'];\nconst cancelamentos = ['não', 'nao', 'n', 'cancelar', 'cancel', 'no'];\n\nif (confirmacoes.includes(resposta)) {\n  return { confirmed: true };\n} else if (cancelamentos.includes(resposta)) {\n  return { confirmed: false };\n} else {\n  return { confirmed: false, invalid: true };\n}"
      },
      "id": "code-verify-confirmation",
      "name": "Verificar Confirmação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        200
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-confirmed",
                    "leftValue": "={{ $json.confirmed }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Confirmado"
            }
          ]
        },
        "fallbackOutput": "Cancelado",
        "options": {}
      },
      "id": "switch-execute-cancel",
      "name": "Executar ou Cancelar",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3320,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Preparar Dados').item.json.chat_id }}",
        "text": "❌ Operação cancelada.",
        "additionalFields": {}
      },
      "id": "telegram-send-cancel",
      "name": "Enviar Cancelamento",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3540,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO contas_pagar (usuario_telegram_id, nome_credor, descricao, valor_total, data_vencimento, categoria, status) VALUES ((SELECT id FROM usuarios_telegram WHERE telegram_id = $1), $2, $3, $4, $5, $6, 'pendente') RETURNING id, nome_credor, valor_total, data_vencimento;",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "telegram_id",
                "value": "={{ JSON.parse($('Preparar Dados').item.json.from_user).id }}"
              },
              {
                "name": "nome_credor",
                "value": "={{ $('MCP: Extrair Dados').item.json.data.nome_credor }}"
              },
              {
                "name": "descricao",
                "value": "={{ $('MCP: Extrair Dados').item.json.data.descricao || null }}"
              },
              {
                "name": "valor_total",
                "value": "={{ $('MCP: Extrair Dados').item.json.data.valor_total }}"
              },
              {
                "name": "data_vencimento",
                "value": "={{ $('MCP: Extrair Dados').item.json.data.data_vencimento }}"
              },
              {
                "name": "categoria",
                "value": "={{ $('MCP: Extrair Dados').item.json.data.categoria || null }}"
              }
            ]
          }
        },
        "options": {}
      },
      "id": "postgres-insert",
      "name": "Executar Inserção",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3540,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credential-id",
          "name": "PostgreSQL Personal Agent"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Preparar Dados').item.json.chat_id }}",
        "text": "=✅ **Conta registrada com sucesso!**\n\n**ID:** {{ $json.id }}\n**Credor:** {{ $json.nome_credor }}\n**Valor:** R$ {{ $json.valor_total }}\n**Vencimento:** {{ $json.data_vencimento }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send-success",
      "name": "Enviar Sucesso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3760,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8001/mcp/extract",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"text\": \"{{ $('Preparar Dados').item.json.text || $('Mesclar Texto').item.json.text }}\",\n  \"action\": \"LIST\",\n  \"context\": {}\n}",
        "options": {}
      },
      "id": "http-mcp-extract-list",
      "name": "MCP: Extrair Filtros",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8001/mcp/list",
        "authentication": "none",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"usuario_telegram_id\": {{ JSON.parse($('Preparar Dados').item.json.from_user).id }},\n  \"data_inicial\": \"{{ $json.data.data_inicial || null }}\",\n  \"data_final\": \"{{ $json.data.data_final || null }}\",\n  \"status\": \"{{ $json.data.status || null }}\",\n  \"categoria\": \"{{ $json.data.categoria || null }}\"\n}",
        "options": {}
      },
      "id": "http-mcp-list",
      "name": "MCP: Listar Contas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const contas = $input.item.json.contas;\nlet mensagem = `📋 **Suas Contas**\\n\\n`;\nmensagem += `Total: ${contas.length} conta(s)\\n`;\nmensagem += `Valor Total: R$ ${$input.item.json.total_valor.toFixed(2)}\\n\\n`;\n\ncontas.forEach((conta, index) => {\n  mensagem += `${index + 1}. **${conta.nome_credor}**\\n`;\n  mensagem += `   Valor: R$ ${conta.valor_total.toFixed(2)}\\n`;\n  mensagem += `   Vencimento: ${conta.data_vencimento}\\n`;\n  mensagem += `   Status: ${conta.status}\\n\\n`;\n});\n\nreturn { message: mensagem };"
      },
      "id": "code-format-list",
      "name": "Formatar Lista",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Preparar Dados').item.json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send-list",
      "name": "Enviar Lista",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2220,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const error = $input.error;\nconst chatId = $('Preparar Dados').item?.json?.chat_id || $('Escutar Mensagens').first()?.json?.message?.chat?.id;\n\nreturn {\n  error: true,\n  message: `❌ Erro: ${error.message}`,\n  chat_id: chatId\n};"
      },
      "id": "code-handle-error",
      "name": "Tratar Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3980,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "telegram-send-error-final",
      "name": "Enviar Erro",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4200,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id",
          "name": "Telegram Bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "systemMessage": "=Você é um assistente útil para gerenciar contas pessoais a pagar.\n\nQuando o usuário não informar claramente o que deseja fazer, pergunte educadamente e forneça exemplos:\n\n**Exemplos de comandos:**\n- \"Adicionar conta: Fornecedor XYZ, vencimento 15/01/2025, R$ 1.500\"\n- \"Mostrar minhas contas\"\n- \"Contas de janeiro de 2025\"\n- \"Atualizar conta ID 5: valor R$ 2.000\"\n- \"Excluir conta ID 5\"\n\nSempre seja claro e forneça exemplos quando necessário."
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $('Preparar Dados').item.json.text || $('Mesclar Texto').item.json.text || $('Mesclar Texto').item.json.transcription }}"
            }
          ]
        }
      },
      "id": "openai-assistant",
      "name": "Assistente IA",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1560,
        700
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential-id",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Preparar Dados').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send-assistant",
      "name": "Enviar Resposta Assistente",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1780,
        700
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential-id",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Escutar Mensagens": {
      "main": [
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "É Áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Áudio?": {
      "main": [
        [
          {
            "node": "Obter Arquivo de Voz",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar ou Buscar Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Arquivo de Voz": {
      "main": [
        [
          {
            "node": "Voz para Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voz para Texto": {
      "main": [
        [
          {
            "node": "Mesclar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mesclar Texto": {
      "main": [
        [
          {
            "node": "Criar ou Buscar Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar ou Buscar Usuário": {
      "main": [
        [
          {
            "node": "MCP: Detectar Intenção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Detectar Intenção": {
      "main": [
        [
          {
            "node": "Roteador de Ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador de Ação": {
      "main": [
        [
          {
            "node": "MCP: Extrair Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MCP: Extrair Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MCP: Extrair Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MCP: Extrair Filtros",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Assistente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Extrair Dados": {
      "main": [
        [
          {
            "node": "MCP: Validar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Validar Dados": {
      "main": [
        [
          {
            "node": "Verificar Validação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Validação": {
      "main": [
        [
          {
            "node": "MCP: Formatar Confirmação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Erro de Validação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Formatar Confirmação": {
      "main": [
        [
          {
            "node": "Enviar Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Confirmação": {
      "main": [
        [
          {
            "node": "Aguardar Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Confirmação": {
      "main": [
        [
          {
            "node": "Aguardar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Resposta": {
      "main": [
        [
          {
            "node": "Verificar Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Confirmação": {
      "main": [
        [
          {
            "node": "Executar ou Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar ou Cancelar": {
      "main": [
        [
          {
            "node": "Executar Inserção",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Inserção": {
      "main": [
        [
          {
            "node": "Enviar Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Extrair Filtros": {
      "main": [
        [
          {
            "node": "MCP: Listar Contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP: Listar Contas": {
      "main": [
        [
          {
            "node": "Formatar Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Lista": {
      "main": [
        [
          {
            "node": "Enviar Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assistente IA": {
      "main": [
        [
          {
            "node": "Enviar Resposta Assistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta Assistente": {
      "main": [
        []
      ]
    },
    "Enviar Cancelamento": {
      "main": [
        []
      ]
    },
    "Enviar Sucesso": {
      "main": [
        []
      ]
    },
    "Tratar Erro": {
      "main": [
        [
          {
            "node": "Enviar Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Erro": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-28T00:00:00.000Z",
  "versionId": "agente-pessoal-mvp-v1"
}
